@model QuanLyTrungTam.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Font Icon -->

    <link href="~/Content/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Main css -->
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="main" style="font-family:'Times New Roman', Times, serif">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure>
                            <img src="~/Img/a.jpg" alt="sing up image">
                        </figure>
                       
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Đăng nhập</h2>
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                            <form method="get" class="register-form" id="login-form">
                                <div class="form-group" style="font-size:50px">
                                    @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", @placeholder = "Tài Khoản", @autofocus = "autofocus" })

                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password" })
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Nhớ mật khẩu</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="btndangNhap" class="form-submit" value="Đăng nhập" />
                                </div>
                            </form>

                        }
                    </div>

                </div>
            </div>
        </section>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Assets/Admin/js/bootstrap.min.js"></script>

</body>
</html>