@model QuanLyTrungTam.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Assets/Admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Assets/Admin/css/startmin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Assets/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vui lòng đăng nhập</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                            <div class="form d-flex align-items-center">
                                <div class="content">
                                    <form method="get" class="form-validate mb-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", @placeholder = "Vui lòng nhập email hoặc tài khoản", @autofocus = "autofocus" })
                                            @*<input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">*@
                                            @*<label for="login-username" class="label-materia">Tài Khoản</label>*@
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password" })
                                            @*<input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                                                <label for="login-password" class="label-material">Mật khẩu</label>*@
                                        </div>
                                        <button type="submit" id="btndangNhap" class="btn btn-primary">Đăng nhập</button>
                                        <br />
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/Assets/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/Admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/Assets/Admin/js/startmin.js"></script>

</body>


</html>
