@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="style.css">
    <link href="~/Content/Error.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Oops! Bạn không thể truy cập.</h2>
        <h1>404</h1>
        <p>Để truy cập vào chức năng này bạn cần phải sử dụng tài khoản có vai trò admin.</p>
        <a href="~/Home/Index">Trở về</a>
    </div>
</body>
</html>

